@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Roboto+Condensed:wght@300;400;700&display=swap");

:root {
    --font-color: #212121;
    --link-color: #1565c0;
    --default-transition: all 0.3s ease-in;
    --footer-color: #e9eaeb;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Bangers", cursive;
}

a,
.link,
.link--social {
    border-bottom: 2px dotted var(--font-color);
    color: var(--font-color);
    text-decoration: none;
}

a:hover {
    border-bottom: 2px dotted transparent;
    color: var(--link-color);
}

.link:hover,
.link--social:hover {
    border-bottom: transparent;
}

.btn {
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    font-size: 1rem;
    border: 2px solid #333;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.btn--cta {
    background-color: #1964cc;
    border-color: #1964cc;
    color: #fff;
}

.layout {
    color: var(--font-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    min-height: 100vh;
}

.main {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 3rem;
}

.section {
    min-height: 50vh;
    margin: 6rem 0;
}

.section .section-innerWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.section-title {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 4.5rem;
    text-align: center;
    position: relative;
}

.section-title::after {
    content: "";
    height: 6px;
    background-color: #222;
    width: 80px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -10px;
}

/* HERO */
.section--hero {
    min-height: 100vh;
}

/* SERVICES */
.service {
    background-color: #8db7f1;
    border-radius: 8px;
    padding: 3rem;
    margin: 0 0 3rem 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    min-height: 365px;
}

.service-icon {
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 auto 0.75rem;
}

.service-title {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.service-text {
    text-align: center;
}

/* TEAM */

.team-member {
    background-color: #8db7f1;
    border-radius: 8px;
    padding: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

/* CONTACTS */
.contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.contact-icon {
    position: absolute;
    top: 3px;
    left: 0;
}

.form-group {
    margin-bottom: 1.5rem;
}

.label {
    display: block;
    font-family: "Bangers", cursive;
    font-size: 1.4rem;
    margin-bottom: 0.375rem;
    width: 100%;
}

.textarea,
.input {
    border: 2px solid #333;
    border-radius: 4px;
    padding: 0.75rem;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .section .section-innerWrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        margin: 0 auto;
        max-width: 1440px;
    }

    .service {
        width: calc(33.333% - 1.5rem);
        margin: 0 1.5rem 0 0;
    }

    .section--team .section-innerWrapper {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .team-member {
        margin: 0 0.75rem 0;
        width: calc(50% - 0.75rem);
    }

    .contacts,
    .section--hero {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .contacts-info {
        width: 40%;
        margin-bottom: 0;
    }

    .contacts-info .address,
    .contacts-info .phone,
    .contacts-info .email {
        padding-left: 1.5rem;
        position: relative;
    }

    .contacts-info .address,
    .contacts-info .phone,
    .contacts-info .email {
        margin-bottom: 1.5rem;
    }

    .contacts-form {
        -webkit-box-flex: 2;
        -ms-flex-positive: 2;
        flex-grow: 2;
        margin-left: 3rem;
        width: 50%;
    }
}

@media only screen and (min-width: 992px) {
    .team-member {
        width: calc(33.333% - 0.75rem);
    }
}
